@import 'footer.css';

.guesses{
  display: flex;
  flex-direction: column;
  /* justify-content: baseline; */
}

.checkButton{
  margin-left: 2px;
  height: 34px;
  font-weight: 400;
  font-family: helvetica;
  padding-left: 15px;
  border: 1px solid rgba(232,232,255,0.9);
  border-radius: 9px;
}
 .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    padding-right: 50px;
    padding-bottom: 8px;
   align-items: center;
   height: 50px;
 }

 .header-link{
  font-family: 'Playfair Display', serif;
   position: relative;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
}
.logo-img{
  border: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  height: 50px;
  font-size: 25px;
}

.logo-img img {
  height: 43px;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 4px;
}
.logo-name{
  border:0px;
  font-size: 25px;
  color: white;
}

.app-container{
  background-color: #0e76a8;
}
.instructions{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.papa-div{
  height:706px;
}
.winner-div{

}
.headers{
  color: white;
  display: flex;
  justify-content: center;
}
.moveMessages{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.lastMove{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 65px;
}

.loserdiv{

}

.numInput{

}

.listGuesses{
  color:red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerGuess{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgroundImg{
  background-color: grey;
    width: 100%;
    height: 320px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/holding_lights.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
