@import 'footer.css';

.guesses{
  display: flex;
  flex-direction: column;
  /* justify-content: baseline; */
}

.checkButton{
  padding: 0px 15px;
  height: 40px;
  background-color: black;
  border: 0px;
  color: white;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
}
 .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    padding-right: 50px;
    padding-bottom: 8px;
   align-items: center;
   height: 50px;
 }

 .header-link{
  font-family: 'Playfair Display', serif;
   position: relative;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
}
.logo-img{
  border: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  height: 50px;
  font-size: 25px;
}

.logo-img img {
  height: 43px;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 4px;
}
.logo-name{
  border:0px;
  font-size: 25px;
  color: white;
}

.app-container{
  background-color: #0e76a8;
}
.instructions{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.papa-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:706px;
}
.winner-div{

}
.headers{
  color: white;
  display: flex;
  justify-content: center;
}
.moveMessages{
  color:red;
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
}
.lastMove{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 65px;
}

.loserdiv{
  height: 385px;
  display: flex;
  flex-direction: column;

}

.numInput{
  border: 12px;
  border-radius: 15px;
  height: 30px;
}

.listGuesses{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.playerGuess{
  display: flex;
  flex-direction: column;
  align-items: center;margin-bottom: 15px;
  border: 1px solid white;
  padding: 25px;
  border-radius: 8px;
  width: 500px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Russo One', sans-serif;
}

.backgroundImg{
  background-color: grey;
    width: 100%;
    height: 320px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/holding_lights.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stickyResults{
  position: sticky;
  top: 0%;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 1px;
  padding: 1.0rem 1.0rem;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  background-color: white;
  margin-bottom: 67px;
}

.playAgain{
  padding: 0px 15px;
    height: 40px;
    background-color: black;
    border: 0px;
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.againButton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winnerdiv{
  display: flex;
  flex-direction: column
}

.lilpapi-div{
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Playfair Display', serif;
  margin-bottom: 87px;
}
.rightSide{
  width: 320px;
  margin: 0 0 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center; display: block;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 15px;
}